.app {
  display: flex;
}

.sidebar {
  flex-basis: 200px;
  margin-right: 20px;
}

.flashcard-library {
  flex-grow: 1;
}

.separator {
  border-right: 2px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.flashcard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.question {
  font-weight: bold;
}

.controls {
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.addFC {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  width : 100%
}

.theme{
  background-color:white;
  border-radius: 3px;
  color: black;
  outline: solid black;
}

.theme:hover{
  background-color:lightblue;
}

.theme:focus{
  background-color:rgb(18, 113, 255);
}




button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
